/* Define Bangers font family */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: #000000 !important;
}
.common .navbar-brand{
  font-family:bangers;
  padding: 4px;
  font-size: 1.6rem;
}
.common .navbar-toggler{
  padding: 0 !important
}
.mainbanner h1{
  font-family:bangers;
}
.mainbanner p{
  color: #ffffff;
}
.default_spacing{
  margin-bottom: 2.4em;
}
head{
  background-color: black;
}
.container {
  position: relative;
}
video{
  pointer-events: none;
}
/* Define the glow effect */
@keyframes glowing {
  0% { box-shadow: 0 0 0 0 white; }
  50% { box-shadow: 0 0 8px 2px white; }
  100% { box-shadow: 0 0 0 0 white; }
}

/* Apply the glow effect to the focused element when focus is visible */
:focus-visible {
  outline: none; /* Hide default outline */
  animation: glowing 9s infinite; /* Apply glowing animation */
}

.multigrid h3{
  font-size: 1.6rem;
}
.multigrid p{
  font-size: 1rem;
}
/* For webkit-based browsers */
/* Change scrollbar track color */
::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

/* Change scrollbar handle (thumb) color */
::-webkit-scrollbar-thumb {
  background-color: #586069; /* Dark grey color */
  border-radius: 4px; /* Adjust border-radius to round the corners */
}

/* Change scrollbar track color (inside) */
::-webkit-scrollbar-track {
  background-color: #000; /* Light grey color */
}

/* For Mozilla Firefox */
/* Change scrollbar handle (thumb) color */
/* Note: Firefox uses different pseudo-elements for scrollbar customization */
* {
  scrollbar-color: #586069 #000; /* Dark grey thumb on light grey track */
}

/* You can also adjust scrollbar width for Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
}
/* Styles for loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-text {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for quotes */
.quote-container {
  margin-top: 20px;
  font-style: italic;
  text-align: center;
}
/* Animate.css */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.floating-text {
  animation: float 3s ease-in-out infinite;
}

.loader  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #017de2;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 hsl(186, 97%, 46%);
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}
/* Media query for mobile view */
@media (max-width: 767px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-toggler-icon {
    display: block;
  }
}
.max-w-100 {
  max-width: 100px;
}

